/* GENERAL */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: #272727;
  line-height: 1.8rem;
}

ul,
li {
  margin: 0;
  padding: 0;
}

section {
  padding: 20px 0 30px 0;
}

section h2 {
  font-size: 2rem;
  color: #fff;
  margin: 30px auto;
  text-align: center;
}

@media screen and (min-width: 992px) {
  section {
    padding: 20px 0 60px 0;
  }

  section h2 {
    font-size: 2.6rem;
    margin: 50px auto;
  }
}

/* NAVBAR */

nav {
  width: 100%;
  height: 6vh;
  top: 0;
  padding: 5px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3c91ca;
  -webkit-box-shadow: 0px 1px 5px 1px #464646;
  box-shadow: 0px 1px 5px 1px #464646;
  position: sticky;
  z-index: 99;
}

.logo {
  font-family: "Righteous";
  font-size: 2.2rem;
  color: #fff;
  cursor: pointer;
}

.navbar-links {
  display: none;
}

.nav-active {
  display: block;
  position: absolute;
  right: 0px;
  width: 55%;
  height: 100vh;
  top: 6vh;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.2rem;
  -webkit-box-shadow: 0px 2px 5px 1px #464646;
  box-shadow: 0px 2px 5px 1px #464646;
  background-color: rgba(248, 248, 248, 0.9);
}

.nav-active li {
  width: 100%;
  padding: 15px;
  text-align: end;
  border-top: solid #f2f2f2 1px;
}

.nav-active li:last-child {
  border-bottom: solid #f2f2f2 1px;
}

.navbar-links li a {
  font-size: 1.2rem;
  font-weight: 500;
  color: #464646;
}

.navbar-links li:last-child a {
  color: #3c91ca;
}

.burger-btn {
  display: block;
  font-size: 1.6rem;
  color: #fff;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  nav {
    padding: 5px 60px;
  }

  .logo {
    font-size: 2.2rem;
  }

  .navbar-links {
    display: flex;
    align-items: center;
  }

  .navbar-links li {
    margin: 0 0 0 40px;
  }

  .navbar-links li a {
    color: #fff;
  }

  .navbar-links li:last-child a {
    color: #fff;
  }

  .navbar-links li a:hover {
    color: #464646;
  }

  .events {
    font-size: 1.2rem;
    font-weight: 400;
    padding: 5px 20px;
    border: 2px solid #fff;
    border-radius: 5px;
  }

  .events:hover {
    border-color: #464646;
  }

  .burger-btn {
    display: none;
  }
}

/* HEADER */

header {
  width: 100%;
  height: auto;
  background-color: #3c91ca;
}

.intro-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px 40px;
  text-align: center;
  background-color: #fff;
}

.intro-header h1 {
  font-size: 2.2rem;
  line-height: 2.6rem;
  margin-bottom: 40px;
}

.intro-header h1 strong {
  font-family: "Righteous";
  color: #3c91ca;
}

.intro-header p {
  font-size: 1.5rem;
  font-weight: 600;
  color: #272727;
}

@media screen and (min-width: 992px) {
  .intro-header {
    height: 250px;
  }

  .intro-header h1 {
    font-size: 2.6rem;
    margin: 50px auto;
  }

  .intro-header p {
    font-size: 2rem;
  }
}

/* HOME */
.home {
  width: 100%;
  height: auto;
  background-color: #3c91ca;
}

.home .container {
  width: 100%;
  margin: 0 auto;
}

.home .presentation {
  margin: 0 40px 20px 40px;
  text-align: justify;
  color: #fff;
}

.home a {
  color: #fff;
  border-bottom: 2px solid #fff;
}

@media screen and (min-width: 992px) {
  .home .container {
    width: 1200px;
  }
  .home .presentation {
    font-size: 1.3rem;
    text-align: center;
  }
}

/* COACHS */

.coachs h2 {
  color: #3c91ca;
}

.coachs-intro {
  margin: 10px 20px;
  text-align: center;
  color: #272727;
}

.coachs-list {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coach {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  padding: 5px;
  justify-content: space-between;
  gap: 4px;
}

.coach img {
  width: 150px;
  height: auto;
  flex: 1;
  border-radius: 50%;
  border: 3px solid #fff;
  -webkit-box-shadow: 1px 1px 5px 1px #757575;
  box-shadow: 1px 1px 5px 1px #757575;
  z-index: 1;
}

.coach-profile {
  flex: 2;
  width: 350px;
  padding: 10px 5px 15px 20px;
  background-color: #3c91ca;
  border-radius: 15px;
  -webkit-box-shadow: 1px 1px 5px 1px #757575;
  box-shadow: 1px 1px 5px 1px #757575;
}

.coach-profile h3 {
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: #fff;
}

.coach-profile p:last-child {
  margin-top: 5px;
}

#coachs-other {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
  color: #3c91ca;
}

@media screen and (min-width: 992px) {
  .coachs .container {
    width: 1200px;
    margin: 0 auto;
  }

  .coachs-intro {
    font-size: 1.3rem;
    line-height: 1.5rem;
  }

  .coachs-list {
    width: 90%;
    display: flex;
    margin: 80px auto;
    flex-direction: column;
    align-items: flex-start;
  }

  .coachs-list li:nth-child(even) {
    align-self: flex-end;
  }

  .coach {
    flex-direction: row;
    width: 650px;
    height: auto;
    margin: 30px 0;
  }

  .coach img {
    max-width: 140px;
  }

  .coach-profile h3 {
    font-size: 1.8rem;
  }

  .coach-profile p {
    font-size: 1.1rem;
  }

  #coachs-other {
    font-size: 1.8rem;
    font-weight: 500;
    color: #3c91ca;
  }
}

/* OFFRES */
.offres {
  background-color: #3c91ca;
}

.offres .container {
  margin: 0 auto;
}

.offres-intro {
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
}

.offres-cards {
  margin: 40px auto;
  display: flex;
  flex-direction: column;
}

.card {
  width: 330px;
  height: auto;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 5px 1px #757575;
  box-shadow: 1px 1px 5px 1px #757575;
}

.card i {
  font-size: 4rem;
  text-align: center;
  color: #3c91ca;
}

.card h3 {
  font-size: 1.6rem;
  margin: 15px auto;
  color: #272727;
}

.card p {
  margin: 20px 5px 10px 5px;
  text-align: center;
  font-size: 1.2rem;
  color: #272727;
}

.card ul {
  margin: 40px 0 0 0;
}

.card li {
  margin-bottom: 20px;
  color: #272727;
}

.card .fa-arrow-right {
  font-size: 1.6rem;
  margin-right: 10px;
  color: #3c91ca;
}

@media screen and (min-width: 992px) {
  .offres .container {
    width: 1200px;
    margin: 0 auto;
  }

  .offres-intro {
    text-align: center;
    font-size: 1.3rem;
  }

  .offres-cards {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .card h3 {
    font-size: 1.8rem;
  }

  .card li {
    font-size: 1.1rem;
  }

  .card:hover {
    transform: translateY(-20px);
    transition: all 0.25s ease-in;
  }
}

/* CONTACT */
.contact .container {
  width: 100%;
}

.contact h2 {
  color: #3c91ca;
}

.contact p {
  color: #272727;
  margin: 0 40px 20px 40px;
  text-align: center;
}

.form-contact {
  width: 85%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 5px 1px #757575;
  box-shadow: 1px 1px 5px 1px #757575;
}

.contact-infos {
  background-color: #3c91ca;
  height: auto;
  padding: 15px;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 3px 1px #757575;
  box-shadow: 1px 1px 3px 1px #757575;
}

.contact-infos .logo {
  text-align: center;
}

.infos-items,
.infos-social {
  margin: 30px 0 15px 10px;
}

.infos-items li {
  margin: 5px 0;
  color: #fff;
  font-size: 1.1rem;
}

.infos-items li i {
  width: 40px;
  font-size: 1.5rem;
}

.infos-social {
  display: flex;
  justify-content: center;
}

.infos-social li {
  color: #fff;
  font-size: 3rem;
  padding-right: 20px;
}

/* Contact Form */

.form-items {
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
}

.form-items input,
.form-items textarea {
  height: 30px;
  margin: 15px 0 0 0;
  padding: 5px;
  font-size: 1.1rem;
  border: 1.5px solid #272727;
  border-radius: 5px;
}

.form-items textarea {
  height: 150px;
}

.form-items button {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  font-size: 1.3rem;
  background-color: #3c91ca;
  border: none;
  border-radius: 5px;
  color: #fff;
  -webkit-box-shadow: 1px 1px 3px 1px #757575;
  box-shadow: 1px 1px 3px 1px #757575;
}

@media screen and (min-width: 992px) {
  .contact .container {
    width: 1200px;
    margin: 0 auto;
  }

  .contact-intro {
    text-align: center;
    font-size: 1.3rem;
  }

  .form-contact {
    width: 900px;
    flex-direction: row;
  }

  .contact-infos {
    padding: 25px;
  }

  .infos-items,
  .infos-social {
    margin: 80px 0;
  }

  .infos-items li {
    margin: 25px 0;
    font-size: 1.2rem;
  }

  .infos-items li i {
    width: 50px;
    font-size: 2rem;
  }

  .infos-social {
    justify-content: center;
  }

  .infos-social li {
    font-size: 4rem;
    padding-right: 30px;
    text-align: center;
    cursor: pointer;
  }

  .infos-social li .fa-facebook-square:hover {
    color: #4064ac;
  }

  .infos-social li .fa-instagram-square:hover {
    color: #e84c58;
  }

  .infos-social li .fa-linkedin:hover {
    color: #0073b1;
  }

  .form-items {
    margin: 10px auto;
  }

  .form-items input {
    width: 440px;
    height: 40px;
    margin: 10px 0;
  }

  .form-items textarea {
    width: 100%;
    height: 250px;
  }

  .form-items button {
    width: 200px;
    cursor: pointer;
    align-self: flex-end;
  }

  .form-items button:hover {
    -webkit-box-shadow: 1px 1px 5px 1px #fff;
    box-shadow: 1px 1px 5px 1px #fff;
  }
}

/* EVENEMENTS */

.special-event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px 10px;
  background-color: #3c91ca;
}

.special-event img {
  width: 270px;
  height: auto;
  border: 3px solid #fff;
  border-radius: 3px;
}

.special-event p {
  margin: 40px auto;
  text-align: center;
  color: #fff;
}

@media screen and (min-width: 992px) {
  .special-event img {
    width: 600px;
  }

  .special-event p {
    font-size: 1.2rem;
  }
}

/* TIMELINE */
.timeline {
  width: 100%;
  background-color: #fff;
  padding: 20px;
}

.timeline h2 {
  color: #3c91ca;
}

.timeline-item {
  position: relative;
  display: flex;
  width: 320px;
  height: 100px;
  margin: 0 auto 70px;
}

.timeline-item:not(:last-child):after {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 70px;
  background-color: #3c91ca;
  top: 100px;
  left: 125px;
  transform: translateX(-50%);
}

.timeline-hour {
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.timeline-coach {
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline-coach img {
  width: auto;
  height: 100%;
  border-radius: 50%;
  border: 3px solid #3c91ca;
}

.timeline-infos {
  width: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media screen and (min-width: 992px) {
  .timeline-item {
    width: 600px;
    height: 200px;
  }

  .timeline-item:not(:last-child):after {
    width: 5px;
    height: 70px;
    background-color: #3c91ca;
    top: 200px;
    left: 300px;
    transform: translateX(-50%);
  }

  .timeline-hour {
    width: 200px;
    font-size: 1.6rem;
  }

  .timeline-coach {
    width: 200px;
  }

  .timeline-coach img {
    border: 5px solid #3c91ca;
  }

  .timeline-infos {
    width: 200px;
    padding-left: 40px;
    font-size: 1.4rem;
    font-weight: 600;
  }
}

/* TIMELINE ROUNDS */

.training-level {
  display: flex;
}

.round {
  width: 10px;
  height: 10px;
  margin-right: 3px;
  border: 1px solid #757575;
  border-radius: 50%;
}

.round.easy {
  background-color: #18ca00;
  border: 1px solid #18ca00;
}

.round.average {
  background-color: #ffb03a;
  border: 1px solid #ffb03a;
}

.round.hard {
  background-color: #ff3300;
  border: 1px solid #ff3300;
}

@media screen and (min-width: 992px) {
  .round {
    width: 20px;
    height: 20px;
  }
}

/* FOOTER */

footer {
  width: 100%;
  height: auto;
  padding: 10px 0;
  text-align: center;
  background-color: #3c91ca;
  color: #fff;
}

.footer-rights {
  margin: 0 auto;
  font-size: 0.8rem;
  font-weight: 500;
}

@media screen and (min-width: 992px) {
  .footer-rights {
    font-size: 0.9rem;
  }
}
